.geolocation-common-map-container {
    height: 300px;
    width: 100%;
    display: none;
}

.geolocation-common-map .geolocation-common-map-locations .geolocation {
    display: block;
    float: left;
}

