{#
/**
 * @file anonmeeting.html.twig
 * Default theme implementation to present Anonymous 12 Step Meeting data.
 *
 * This template is used when viewing Anonymous 12 Step Meeting pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_anonmeeting()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('anonmeeting') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
