{#
/**
 * @file twelvesteplocation.html.twig
 * Default theme implementation to present Twelve Step Location data.
 *
 * This template is used when viewing Twelve Step Location pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_twelvesteplocation()
 *
 * @inlocation themeable
 */
#}
<div{{ attributes.addClass('twelvesteplocation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
