{#
/**
 * @file anonlocation.html.twig
 * Default theme implementation to present Anonymous 12 Step Location data.
 *
 * This template is used when viewing Anonymous 12 Step Location pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_anonlocation()
 *
 * @inlocation themeable
 */
#}
<div{{ attributes.addClass('anonlocation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
